<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73438006-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-73438006-1');
</script>
<script type="application/javascript">
  (function(b, o, n, g, s, r, c) {
    if (b[s]) return;
    b[s] = {};
    b[s].scriptToken = "Xy0xNTMxNzM4MTgx";
    r = o.createElement(n);
    c = o.getElementsByTagName(n)[0];
    r.async = 1;
    r.src = g;
    r.id = s + n;
    c.parentNode.insertBefore(r, c);
  })(window, document, "script",
  "//cdn.oribi.io/Xy0xNTMxNzM4MTgx/oribi.js", "ORIBI");
</script>
