<script type="application/ld+json">
  {
    "@context": "http://schema.org", "@type": "Blog", "url": "https://leadingwebstudio.com/blog"
  }
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Leading Web Studio",
  "alternateName": "Leading Web Studio, LLC",
  "url": "https://leadingwebstudio.com",
  "logo": "https://leadingwebstudio.com/assets/img/logo420x100.png",
  "sameAs": [
    "https://www.facebook.com/leadingwebstudio/",
    "https://twitter.com/webstudiollc",
    "https://www.linkedin.com/company/15195207/admin/",
    "https://github.com/cdpapoulias",
    "https://leadingwebstudio.com"
  ]
}
</script>
