.servicesquare {
	width:calc(100% / 3);
	float:left;
	padding:1rem;
}

@media screen and (max-width: $screen-sm-min) {
	.servicesquare {
		width:auto;
	}
}

.servicesimage {
	max-width: 100%;
}

.serviceslisting p {
	margin:0;
}

.servicessquareintro {
	height: 10rem;
}

.section
{
	margin-top:1rem;
	margin-bottom:1rem;
}

.blogtitle {
	padding:0;
}

main ol {
	list-style: inherit;
	margin-bottom:1em;
	margin-left: 1em;
}

main ul {
	list-style-type: inherit;
	margin-bottom:1em;
	margin-left: 1em;
}

.services-promo1 {
	border:0.1em dashed #000;
	padding:1em;
	background:#efefef;
}

.servicesleadimage {
  margin: -42% 0;
}

.servicesleadimagebox {
  width:60rem;
	max-height:10rem;
	overflow: hidden;
}
