.footer-bottom {
	margin: 0 auto;
	text-align: center;
}

.footer-bottom img {
	width: 10em;
	margin-left: auto;
  margin-right: auto;
}

.servicesquare {
	width:calc(100% / 3);
	float:left;
	padding:0.75rem;
}

@media screen and (max-width: $screen-sm-min) {
	.servicesquare {
		width:auto;
	}
}

.servicesimage {
	max-width: 100%;
}

.serviceslisting p {
	margin:0;
}

.servicessquareintro {
	/*height: 10rem;*/
}

.section
{
	margin-top:1rem;
	margin-bottom:1rem;
}

.blogtitle {
	padding:0;
}

main ol {
	list-style: inherit;
	margin-bottom:1em;
	margin-left: 1em;
}

main ul {
	list-style-type: inherit;
	margin-bottom:1em;
	margin-left: 1em;
}

.services-promo1 {
	border:0.1em dashed #000;
	padding:1em;
	background:#efefef;
}

.servicesleadimage {
  margin: -42% 0;
}

.servicesleadimagebox {
  width:inherit;
	max-height:10rem;
	overflow: hidden;
}

.noimagechange {
	width: auto;
	max-width: inherit;
	height: auto;
}

main a {
  text-decoration: none;
  background-image: linear-gradient(to right, #fff 50%, #efefef 50%);
  background-position: 0;
  background-size: 200%;
  transition: all 0.4s;
}

main a:hover {
	background-position: -100%
}

p.intro {
	padding-bottom:2rem;
}

nav[aria-label="Adjacent Posts"] ul {
    list-style: none;
}
