---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

  <h3>Posts</h3>

    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    <section>
        <h4><a href="{{ post.url }}"><img src="{{ post.image }}" />{{ post.title }}</a></h4>
        <time datetime="{{ post.date | date: "%B %-d, %Y" }}">
          <small>
            <strong>{{ post.date | date: "%B %-d, %Y" }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
    </section>
    {% endfor %}
