---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<h1><a href="/blog">Leading Web Studio Blog</a></h1>
<h2 class="blogtitle">{{ page.title }}</h2>
<time datetime="{{ page.date }}">
  <small>
    <strong>Posted on {{ page.date | date: "%B %-d, %Y" }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>

<img class="mainpostimage" src=" {{page.image}} " />

{% include page-intro.html %}

{{ content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
